#toolbar .toolbar-menu .envindicator-name,
#envindicator {
  text-align: center;
  white-space: nowrap;
  color: white;
  text-shadow: 0 -1px 1px #333;
  font-weight: bold;
  z-index: 10;
  left: 0;
  right: 0;
}

#admin-menu #envindicator { float: right; left: auto; right: auto; }

.fixed-yes { position: fixed; }
.fixed-yes.position-bottom { bottom: 0; }
.fixed-yes.position-top { top: 0; }

#toolbar .toolbar-menu .envindicator-name, #envindicator .envindicator-name { cursor: pointer; }
#envindicator .envindicator-name { padding: 5px; }
#admin-menu #envindicator .envindicator-name { padding: 3px 12px; }

#envindicator .gradient-bar, #envindicator .envindicator-name {
  background-image: linear-gradient(bottom, rgba(207,207,207,0.3) 19%, rgba(250,250,250,0.3) 60%, rgba(255,255,255,0.3) 80%);
  background-image: -o-linear-gradient(bottom, rgba(207,207,207,0.3) 19%, rgba(250,250,250,0.3) 60%, rgba(255,255,255,0.3) 80%);
  background-image: -moz-linear-gradient(bottom, rgba(207,207,207,0.3) 19%, rgba(250,250,250,0.3) 60%, rgba(255,255,255,0.3) 80%);
  background-image: -webkit-linear-gradient(bottom, rgba(207,207,207,0.3) 19%, rgba(250,250,250,0.3) 60%, rgba(255,255,255,0.3) 80%);
  background-image: -ms-linear-gradient(bottom, rgba(207,207,207,0.3) 19%, rgba(250,250,250,0.3) 60%, rgba(255,255,255,0.3) 80%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.19, rgba(207,207,207,0.3)),
  	color-stop(0.6, rgba(250,250,250,0.3)),
  	color-stop(0.8, rgba(255,255,255,0.3))
  );
}

#toolbar .envindicator-name-wrapper { float: right; }

#admin-menu #envindicator .envindicator-name {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#envindicator .item-list ul, #toolbar .item-list ul { overflow: hidden; margin: 0; }

#envindicator .item-list ul.environment-switcher-container li.environment-switcher,
#toolbar .item-list ul.environment-switcher-container li.environment-switcher {
  list-style: none;
  float: left;
  background-color: #333;
  margin: 0 3px;
  padding: 3px 8px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 0.8em;
  text-shadow: none;
}

#envindicator .item-list ul.environment-switcher-container li.environment-switcher:hover,
#toolbar .item-list ul.environment-switcher-container li.environment-switcher:hover {
  background-color: #DDD;
  -moz-box-shadow: inset 0 1px 5px #333;
  -webkit-box-shadow: inset 0 1px 5px #333;
  -o-box-shadow: inset 0 1px 5px #333;
  box-shadow: inset 0 1px 5px #333;
}
#envindicator .item-list ul.environment-switcher-container li.environment-switcher a,
#toolbar .item-list ul.environment-switcher-container li.environment-switcher a { color: #DDD; text-decoration: none; background-color: transparent !important; }
#envindicator .item-list ul.environment-switcher-container li.environment-switcher:hover a,
#toolbar .item-list ul.environment-switcher-container li.environment-switcher:hover a { color: #333; }

#envindicator .item-list, #toolbar .item-list {
  display: none;
  padding: 10px;
  -moz-box-shadow: inset 0 0 5px #333;
  -webkit-box-shadow: inset 0 0 5px #333;
  -o-box-shadow: inset 0 0 5px #333;
  box-shadow: inset 0 0 5px #333;
}

#admin-menu #envindicator .item-list {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 5px;
}